/* ==========================================================================
   Variables
   ========================================================================== */

$noto-sans: 'Open Sans', sans-serif;
$playfair: 'Libre Baskerville', serif;

// Brand colours
$white: #fff;
$darkgrey: #333;
$blue: #007BC1;
$grey: #f5f5f5;

// Other colours
$green: #008000;
$red: #ff0000;
$orange: #DE5D2A;
$black: #000000;
