/* ==========================================================================
   Digital clock
   ========================================================================== */

.c-digitalClock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    
	.is-loaded & {
		@include easeInOutBack;
	}

    &__time {
        font-size: 5rem;
        @include xsm {
            font-size: 7rem;
        }
        @include sm {
            font-size: 8rem;
        }
        line-height: 1;
    }

    .js-clockSwitch & {
        left: 50%;
    }
    
}